<main>
  <a href="/users/logout" class="btn btn-primary mb-3">Logout</a>
  <span>{{email}}</span>
  <div class="todo-form">
    <form method="POST" action="/addTodo">
      <label class="form-label fs-2" for="todoText">Todo Name</label>
      <input class="form-control fs-6" placeholder="--Type your todo--" type="text" name="todoText" id="todoText">
      <input class="btn btn-primary mt-3" type="submit" value="Submit">
    </form>
  </div>

  <div class="to-list mt-3">
    <ul class="list-group">
      {{#each item}}
      <li class="list-group-item mt-1 clearfix" id={{this.todo_id}}>
        <h2 class="float-left ms-2 me-auto">{{this.todo_text}}</h2>
        <button class="float-right delete-buttom btn btn-primary" type="submit">delete</button>
        <input class="float-right checkbox-custom checkbox ms-4 mt-2 mr-3" id="btncheck{{this.todo_id}}" type="checkbox" {{this.todo_status}}>
      </li>
      {{/each}}
    </ul>
  </div>
</main>